<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Jurassic Shop-Register</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="login-container" style="width: 500px;">
    <h2>NEW VISITOR</h2>
    <p class="subtitle">Personnel Registration Form</p>

    <form th:action="@{/register}" th:object="${user}" method="post">

        <div th:if="${#fields.hasErrors('*')}" class="alert alert-error">
            DATA ERROR: Try again.
        </div>

        <div style="display: flex; gap: 10px;">
            <div class="form-group" style="flex: 1;">
                <label>NAME:</label>
                <input type="text" th:field="*{firstName}" placeholder="Name" required>
            </div>
            <div class="form-group" style="flex: 1;">
                <label>LASTNAME:</label>
                <input type="text" th:field="*{lastName}" placeholder="Lastname" required>
            </div>
        </div>

        <div class="form-group">
            <label>ADDRESS:</label>
            <input type="text" th:field="*{address}" placeholder="Ex: Isla Nublar, Sector 4" required>
        </div>

        <div class="form-group">
            <label>USERNAME:</label>
            <input type="text" th:field="*{userName}" placeholder="Ex: agrant" required>
        </div>

        <div class="form-group">
            <label>PASSWORD:</label>
            <input type="password" th:field="*{password}" placeholder="********" required>
        </div>

        <button type="submit">CREATE ACCOUNT</button>

        <a class="link-access" th:href="@{/login}">Do you already have an account? Return to Central Control</a>
    </form>
</div>

</body>
</html>